*.7z
*.avi
*.bak
*.bin
*.bz2
*.csv
*.dmg
*.dump
*.exe
*.flac
*.gz
*.iso
*.mkv
*.mov
*.mp4
*.msi
*.old
*.psd
*.rar
*.sql
*.tar
*.wav
*.xz
*.zip
*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
